.post {
  background-color: white;
  border: solid;
  padding: 0 0 30px 0;
  border-radius: 20px;
  margin: 20% 0 0 0;
  color: #6d83f2;
}
.post h6 {
  background-color: #6d83f2;
  color: white;
  padding: 10px;
}
.post p {
  background-color: #c7d0ff;
  height: auto;
  width: auto;
  color: black;
  padding: 10px;
}
.two {
  border-radius: 10px 0 0 10px;
}
.one {
  border-radius: 0 10px 10px 0;
}
.avat {
  float: right;
  margin: -70px -50px 0 0;
  border: solid #6d83f2;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.date {
  background-color: #6d83f2;
  color: white;
  width: 100px;
  height: 25px;
  margin: 20px 20px 0 -40px;
}
@media only screen and (max-width: 600px) {
  .avat {
    margin: -30px -15px 0 0;
    border: solid #6d83f2;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .date {
    background-color: #6d83f2;
    color: white;
    width: 60px;
    height: 25px;
    margin: 20px 10px 0 -10px;
  }
}

.hour {
  float: right;
  background-color: #6d83f2;
  font: 500;
  padding: 20px;
  color: white;
  padding: 20px;
  width: 30px;
  height: 30px;
  margin: 0 10px 10px 0;
}
